/* custom-styles.css */
body {
    background-color: #0f6ab0 !important;
    color: #FFFFFF !important;
  }
  
  a {
    color: #FFFFFF !important;
  }
  
  button {
    background-color: #61b847 !important;
    color: #FFFFFF !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF !important;
  }  