/* custom-styles.css */
body {
    background-color: #0c5b97 !important;
    color: #FFFFFF !important;
  }
  
  a {
    color: #FFFFFF !important;
  }
  
  button {
    background-color: #61b847 !important;
    color: #FFFFFF !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF !important;
  }  

  .custom-nav-link {
    color: #FFFFFF !important;
    transition: color 0.3s;
}

.custom-nav-link:hover {
    color: #303030 !important; 
}