---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Premier Foundation - Projects">
  <div id="projects" class="py-16">
    <Container>
      <div class="md:w-2/3 lg:w-1/2 mt-7">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
          <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
        </svg>

        <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
          Our Projects
        </h2>
        <p class="text-white">Discover our projects and how we are contributing to the community and the environment.</p>
      </div>
      
      <div class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-3 lg:divide-y-0 xl:grid-cols-3">

        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <img src="/images/clients/icon.png" class="w-16" width="512" height="512" alt="project icon"/>
            <div class="space-y-2">
              <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                NIMS Hospital: Epilepsy Treatment Facility
              </h5>
              <p class="text-gray-600 dark:text-gray-300">On June 30th 2024, the Premier Foundation donated upwards of 2 crore ruppess to NIMS Hospital in Hyderabad. This amount will be used solely to setup an epilepsy treatment facility as well as a creche facility at NIMS. The epilepsy treatment facility is set to significantly have a life-changing impact on over 250 children living in the area every single day. In collaboration with NIMS Hospital and the Lake District of Moinabad Rotary Club, the Premier Foundation has purchased 17 machines to aid the treatment of children in Hyderabad.</p>
            </div>
            <a href="" target="_blank" class="flex items-center justify-between group-hover:text-secondary">
              <span class="text-sm">Read more</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>

        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
            <div class="relative space-y-8 py-12 p-8">
              <img src="/images/clients/s.png" class="w-16" width="512" height="512" alt="project icon"/>
              <div class="space-y-2">
                <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                    SriBanta Govt School: Solar Rooftop Grid
                </h5>
                <p class="text-gray-600 dark:text-gray-300">On 26th March, 2024, the Premier Foundation donated upwards of 17 lakh ruppess for establishing an 18KWp Rooftop Solar Photovoltaic Grid Connected Power Plant at the SriBanta Govt High School School in Jaipur, Odisha, India with an aim to supply uninterrupted power to the smart classroom program of the school for facilitating the education of its students.</p>
              </div>
              <a href="" target="_blank" class="flex items-center justify-between group-hover:text-secondary">
                <span class="text-sm">Read more</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                  <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                </svg>                
              </a>
            </div>
          </div>

        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
            <div class="relative space-y-8 py-12 p-8">
              <img src="/images/clients/sr.png" class="w-16" width="512" height="512" alt="project icon"/>
              <div class="space-y-2">
                <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                  Sri Sathya Sai Health & Education Trust: Surgical Congenital Heart Disease Treatment
                </h5>
                <p class="text-gray-600 dark:text-gray-300">On 29th March, 2024, the Premier Foundation contributed ruppees 6 lakhs 50 thousand to Sri Sathya Sai Health and Education Trust for the surgical treatment of Congenital Heart Disease in children at 3 Sri Sathy Sai Sanjeevani Centres functioning in Atalnagar, Nava Raipur, Chhatisgarh; Palwal, Haryana and Navi Mumbai, Maharashtra.</p>
              </div>
              <a href="" target="_blank" class="flex items-center justify-between group-hover:text-secondary">
                <span class="text-sm">Read more</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                  <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                </svg>                
              </a>
            </div>
          </div>
      </div>
    
    <div class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-3 lg:divide-y-0 xl:grid-cols-3">
        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <img src="/images/clients/g.png" class="w-16" width="512" height="512" alt="project icon"/>
            <div class="space-y-2">
              <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                Akal Academies: Educating Underprivileged Children
              </h5>
              <p class="text-gray-600 dark:text-gray-300">The Premier Foundation donated upwards of 1 lakh 40 thousand to Akal Academies during fiscal year 2023-24 for supporting the organization and facilitating the education of underprivileged children studying at Akal Academies in rural nort Indian villages.</p>
            </div>
            <a href="" target="_blank" class="flex items-center justify-between group-hover:text-secondary">
              <span class="text-sm">Read more</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>

        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
            <div class="relative space-y-8 py-12 p-8">
                <img src="/images/clients/sp.png" class="w-16" width="512" height="512" alt="project icon"/>
                    <div class="space-y-2">
                        <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                          Roadside Hawkers: Solar Lamps For Push Carts
                        </h5>
                        <p class="text-gray-600 dark:text-gray-300">On March 1st, 2024, the Premier Foundation donated 3 lakh ruppess to the betterment of marginilized roadside hawkers in Andhra Pradesh. In collaboration with the Lake District of Moinabad Rotary Club, these indiviuals were provided 100 pushcarts each of which had a solar lamp attached worth ruppess 3000 (3000 * 100 = 3 Lakhs) provided by the Premier Foundation. The objective of the project was to improve their lives by providing them with essential tools and resources to obtain a better quality of life.</p>
                    </div>
                    <a href="" target="_blank" class="flex items-center justify-between group-hover:text-secondary">
                    <span class="text-sm">Read more</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                        <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                    </svg>                
                    </a>
                </div>
            </div>

            <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                <div class="relative space-y-8 py-12 p-8">
                    <img src="/images/clients/ic.png" class="w-16" width="512" height="512" alt="project icon"/>
                    <div class="space-y-2">
                        <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                              NIMS Hospital: Creche Facility
                        </h5>
                        <p class="text-gray-600 dark:text-gray-300">On June 30th 2024, the Premier Foundation donated upwards of 2 crore ruppess to NIMS Hospital in Hyderabad. This amount will be used solely to setup a creche facility as well as an epilepsy treatment facility on the premises of NIMS. The creche facility established in collaboration with NIMS Hospital and the Lake District of Moinabad Rotary Club has a capacity to house between 100 and 200 children at once and is set to have a substantial impact on the lives of parents and children in the area that are able to use this facility free of charge. To live track the usage of this facility the Premier Foundation has also set up a <a href="https://crechetracker.netlify.app/" target="_blank" class="hover:text-secondary"><em>creche dashboard</em></a> in order to ensure that the facility is fulfilling its purpose of helping children and parents in Hyderabad.</p>
                    </div>
                    <a href="" target="_blank" class="flex items-center justify-between group-hover:text-secondary">
                        <span class="text-sm">Read more</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>                
                    </a>
                </div>
            </div>
    </div>
    </Container>
  </div>
</Layout>