---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Articles</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          Our work is often recognized by the industry. We have won numerous awards for our work and have been featured in industry leading publications.
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/clients/1.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Premier Foundation contributed over $250,000 to various projects!
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              The Premier Foundation has been a long-time supporter of various projects and initiatives. We are proud to announce that we have contributed over $250,000 to various projects in the past year.
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Premier Foundation in collaboration with the Lake District Moinabad Rotary Club set up a creche facility at NIMS Hospital.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              The Premier Foundation in collaboration with the Lake District Moinabad Rotary Club set up an epilepsy treatment facility at NIMS Hospital. The facility was inaugurated by the Governor of Telangana, Dr. Tamilisai Soundararajan.
            </p>
            <a class="inline-block" href="https://www.thehindu.com/news/cities/Hyderabad/nims-receives-21-crore-donation-to-upgrade-facilities/article68359350.ece" target="_blank">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              The Premier Foundation has donated over 2 crore ruppess to NIMS Hospital to facilitate the construction of an epilepsy treatment facility.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              In collaboration with NIMS Hospital, the Premier Foundation was able to set up an epilepsy treatment facility. The facility has a capactity to treat over 200 children everyday!
            </p>
            <a class="inline-block" href="https://www.thehindu.com/news/cities/Hyderabad/nims-receives-21-crore-donation-to-upgrade-facilities/article68359350.ece" target="_blank">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
        </div>
      </div>
  </Container>
</div>