---
import Container from "./Container.astro"
---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Our Community's Voice
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/clients/d2.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Aarnav Singh</h6>
            <p class="text-sm text-white dark:text-gray-300">Volunteer</p>
          </div>
        </div>
        <p class="mt-8 text-white">Premier Foundation has truly changed lives in our community. Their support and dedication are unmatched.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Akshat Kumar</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Beneficiary</p>
          </div>
        </div>
        <p class="mt-8 text-white">Thanks to Premier Foundation, I was able to access resources that helped me start my own business.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Uday Pilani</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Partner</p>
          </div>
        </div>
        <p class="mt-8 text-white">Collaborating with Premier Foundation has been a rewarding experience. Their commitment to the community is inspiring.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/clients/d1.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Chiranjeev Saluja</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Donor</p>
          </div>
        </div>
        <p class="mt-8 text-white">Donating to Premier Foundation has been a fulfilling way to give back. They ensure every contribution makes an impact.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Sathvik Reddy</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Volunteer</p>
          </div>
        </div>
        <p class="mt-8 text-white">Volunteering with Premier Foundation has been a life-changing experience. Their mission is truly noble.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Avanindra Nemani</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Community Member</p>
          </div>
        </div>
        <p class="mt-8 text-white">Being part of a community supported by Premier Foundation has brought hope and positive change to our lives.</p>
      </div>
    </div>
  </Container>
</div>